.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animalList {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: center;
}

img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  filter: grayscale(100%)
}

img:hover{
  filter:none
}

.title{
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  border: 1px solid black;
}

.removeCard{
 position:absolute;
 

}

.addLikes{
  position: relative;
  left: 30px;
}

